:root {
    /* colors */
    --background-color-on-light: oklch(0.968 0.0059 239.82);
    --color-text-default: oklch(0.2103 0.0059 285.89);

    --background-color-on-dark: oklch(0.2103 0.0059 285.89);
    --color-text-inversed: oklch(0.968 0.0059 239.82);

    --color-primary: oklch(0.4982 0.2166 262.71);
    --color-secondary-on-dark: oklch(0.4246 0.1502 257.62);
    --color-secondary-on-light: oklch(0.7163 0.142 254.37);
    --color-accent-1: oklch(0.7066 0.1463 235.27);
    --color-accent-2: oklch(0.559 0 0);

    /* typography */
    --font-family-primary: 'Inter', sans-serif;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-extra-bold: 800;

    --font-size-body-normal: 1rem;
    --font-size-heading-1: 1.5rem;
    --font-size-heading-2: 1.2rem;

    /* spacing */
    --spacing-xx-large: 3rem;
    --spacing-x-large: 2rem;
    --spacing-large: 1.5rem;
    --spacing-medium: 1rem;
    --spacing-small: 0.75rem;
    --spacing-x-small: 0.5rem;
    --spacing-xx-small: 0.25rem;
}

@font-face {
    font-family: var(--font-family-primary);
    font-style: normal;
    font-display: swap;
    font-weight: var(--font-weight-regular);
    src: url('../../assets/fonts/Inter/inter-latin-400-normal.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: var(--font-family-primary);
    font-style: normal;
    font-display: swap;
    font-weight: var(--font-weight-semi-bold);
    src: url('../../assets/fonts/Inter/inter-latin-600-normal.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: var(--font-family-primary);
    font-style: normal;
    font-display: swap;
    font-weight: var(--font-weight-extra-bold);
    src: url('../../assets/fonts/Inter/inter-latin-800-normal.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}